<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Warning: Do not modify this file unless you know what you are doing -->
	<!-- This page is using AngularJS and Bootstrap for rendering content -->
	
	<!-- Essential meta tags -->
	<meta charset="UTF-8">
	<meta name="author" content="Viraj Chitnis">
	<meta name="description" content="Keep track of things to be done....">
	<meta name="copyright" content="Copyright &copy; 2014 Viraj Chitnis. All Rights Reserved.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- Page title -->
	<title><%= title %></title>
	
	<!-- Bootstrap CSS via CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	
	<!-- 'Ubuntu' from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	
	<!-- AngularJS -->
	
	<!-- App logic controller -->
	
	<!-- CSS stylesheet -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	
	<div class="footer">
		<p>Copyright &copy; 2014 Viraj Chitnis. All Rights Reserved</p>
	</div>
	
	<!-- jQuery via CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<!-- Bootstrap JS via CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	
	<!-- Logic -->
	<script src="/javascripts/logic.js"></script>
</body>
</html>