<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Warning: Do not modify this file unless you know what you are doing -->
	<!-- This page is using AngularJS and Bootstrap for rendering content -->
	
	<!-- Essential meta tags -->
	<meta charset="UTF-8">
	<meta name="author" content="Viraj Chitnis">
	<meta name="description" content="Keep track of things to be done....">
	<meta name="copyright" content="Copyright &copy; 2014 Viraj Chitnis. All Rights Reserved.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- Page title -->
	<title><%= title %></title>
	
	<!-- Bootstrap CSS via CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	
	<!-- 'Ubuntu' from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	
	<!-- AngularJS -->
	
	<!-- App logic controller -->
	
	<!-- CSS stylesheet -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<nav id="header-nav" class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><%= title %></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search...">
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Viraj Chitnis <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover">
					<tr>
						<th></th>
						<th>Name</th>
						<th>Due date</th>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>MovieDB</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<br>
		<p>Copyright &copy; 2014 Viraj Chitnis. All Rights Reserved</p>
		<br>
	</div>
	
	<!-- jQuery via CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<!-- Bootstrap JS via CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	
	<!-- Logic -->
	<script src="/javascripts/logic.js"></script>
</body>
</html>